only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@scarf/scarf
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=prisma
only-built-dependencies[]=sharp
